html, body {
    font-family: 'Roboto', sans-serif;
    color: white;
    height: 100%;
    width: 100%;
}
#coverpage{
    background-image: url(/Users/stephencedeno/Desktop/Course/Freshest/HTMLProjectAssets/green-vegetables-on-brown-wooden-chopping-board-3952047.jpg);
}

ul{ list-style: none;}
 li a { text-decoration: none; color: white; }
 li a:visited { text-decoration: none; color: white; }
 li a:hover { text-decoration: none; color: white; }
 li a:focus { text-decoration: none; color: white; }
 li a:hover, .navBtn:active { text-decoration: none; color: white; }
 

 div#menubar{
    
    margin-left: 50px; 
    margin-right: 50px;    
    margin: 0;
    

}
ul#bar {
    display: flex;
    text-align: center;
    
}
ul li {
    flex-grow: 1;
    text-align: left;
    border-bottom: solid white 2px;
    margin-top: 20px;
    
}
ul li:first-child { 
    flex-grow: 15;
}
ul li:nth-child(2){
    flex-grow: 1;
}
div#covertext { 
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}
h1 {
    border-bottom: solid white 2px;
    width: 400px;
    font-size: 100px;
    font-weight: bold;
    padding: 25px;
}
h2 {
    font-size: 45px;
    margin: 0;
    font-weight: lighter;
}
img {
    height: 300px;
    width: 550px;
    
    
}
div#menupage{
    display: flex;
    flex-direction: column;
    

}
.breadmenu{
        display: flex;
    }
 .breadmenu h2 {
        padding-left: 70px;
        padding-top: 70px;
        font-weight: 400;
    }
 .breadmenu p{
        padding-left: 70px;
        padding-right: 70px;
        font-size: 25px;
        font-weight: 100;
    }
    
    

.bread{
    background-color: #010101;
    height: 300px;
    width: 1040px;
    
    
}
.pineapplemenu{
        display: flex;
    }
    .pineapplemenu h2 {
        padding-left: 70px;
        padding-top: 70px;
        font-weight: 400;
    }
    .pineapplemenu p{
        padding-left: 70px;
        padding-right: 70px;
        font-size: 25px;
        font-weight: 100;
    }
    
    

.pineapple{
    background-color: #121212;
    height: 300px;
    width: 1040px;
    }

.pastamenu{
        display: flex;
}
.pastamenu h2 {
    padding-left: 70px;
    padding-top: 70px;
    font-weight: 400;
}
.pastamenu p{
    padding-left: 70px;
    padding-right: 70px;
    font-size: 25px;
    font-weight: 100;
}
    

.pasta{
    background-color: #212121;
    height: 300px;
    width: 1040px;
}


    




